* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    }

 h1 h2 {
     font-weight: 700;
 }
 h1 {
     font-size: large;
 }
 h2 {
     font-size: medium;
 }
 p {
     font-weight: 400;
 }
 strong {
     font-size: 25px;
     font-weight: 700;
 }

.light-font {
    font-weight: 300;
}
.italic-font {
    font-style: italic;
}
bold-font {
    font-weight: 700;
}

regular-font {
    font-weight: 400;
}
a:hover {
    color: red;
}

/***********************************************/
/* Bootstrap grid container and common portion */
/***********************************************/
.container {
    max-width: 1200px;
    margin: auto;
}

/****************************************/
/*           jQuery accordion           */
/****************************************/
.accordion {
    max-width: auto;
    margin: auto;
}
.remainder-text {
    display: none;
}
.accordion.button {
    background: transparent;
    border: none;
}
.accordion.button:hover {
    cursor: pointer;
}

/*****************************/
/* Index & YEAR 2021 common  */
/*****************************/
.common-wrapper {
    display: flex;
    flex-direction: column;
    border-style: none;
    margin-bottom: 10px;
}
.common-title {
     color: black;
     text-shadow: 3px 3px 3px #cccc;
     text-align: center;
     text-decoration: underline;
     background-color: ivory;
}           
.common-text {
    color: black;
    padding: 0 5px 0 5px;
}
.common-video {
    width: 100%;
    margin-top: 5px;
}
@media screen and (min-width: 320px) {
    .common-video {
        height: 210px;
    }
}
@media screen and (min-width: 550px) {
    .common-video {
        height: 300px;
    }
}
.index-picture-wrapper-sm {
    display: flex;
    align-items: center;
    position: relative;
}

.index-picture-wrapper-lg {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin: 20px 10px;
}
.index-picture {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}   
@media screen and (min-width: 320px) {
    .index-picture-wrapper-sm {
        display: flex;
        align-items: center;
        position: relative;
        width: auto;
    }
    .index-picture-wrapper-lg {
        display: none;
    }
}
@media screen and (min-width: 550px) {
    .index-picture-wrapper-sm {
        display: none;
    }
    .index-picture-wrapper-lg {
        display: flex;
        align-items: center;
        position: relative;
    }
}
.y2021-picture {
    width: 70%;
    margin-left: 10%;  
}

/**************************/
/*  Two decades dedicate  */
/**************************/
.decade-hero-img {
    height: 100%;
    margin-top: 5px;
}

/*
@media screen and (min-width: 320px) {
    .decade-hero-img {
        display: none;
    }
}
@media screen and (min-width: 550px) {
    .decade-hero-img {
        display: flex;
    }
}
*/
.decade-wrapper {
    display: flex;
    flex-direction: column;
    border-color: green;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;
}
.decade-title {
     color: black;
     text-shadow: 3px 3px 3px #cccc;
     text-align: center;
     text-decoration: underline;
     background-color: ivory;
     order: 1;
}           
.decade-text {
    color: black;
    padding: 0 5px 0 5px;
    margin-bottom: 10px;
}
@media screen and (min-width: 320px) {
    .decade-text {
        order: 3;
    }
    .decade-picture-wrapper {
        order: 2;
    }
}
@media screen and (min-width: 550px) {
    .decade-text {
        order: 2;
    }
    .decade-picture-wrapper {
        order: 3;
    }
}
.decade-picture-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    
}
.decade-pictuer-wrapped-item {
     margin-top: 15px;
     margin-bottom: 15px;
     border-radius: 7px;
}
/* Need it to support decade pictures */
.col-sm-4 {
    max-width: 100%;
}

/***************************************/
/* Header area including dropdown menu */
/***************************************/
.header-wrap {
    display: box;
    table-layout: fixed;
    width: 100%;
    height: 70px;
    background-color: #CFDD45;
}
.header-logo {
    display: table-cell;
    width: 30%;
    vertical-align: middle;
}
.header-logo-position {
    height: 40px;
    margin-top: 15px;
}
.header-menu {
    display: table-cell;
    width: 20%;
    position: relative;
}
.menu-icon-position { /* Hamberger */
    margin-top: 20px;
    margin-left: 5px;
}
.main-menu {
   position: absolute;
   display: none;
   margin-left: -15px; 
   width: 230px;
   background-color: #CFDD45;
   z-index: 10;
}
#sub-menu {
   display: none;
}
.menu-nolist-display {
  /* border: solid 2px; */
    list-style-type: none;
}
.menu-nounderline {
    text-decoration: none;
    color: black;
}
.menu-icon-position:hover, .menu-nolist-display:hover {
    cursor: pointer;
}


.no-underline {
    text-decoration: none;
}
/**********************************/
/*           Footer area          */
/**********************************/
.footer-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    border-top: solid 3px;
/*    background-color: rgba(0, 32, 62, 0.3); */
}
.footer-logo {
    height: 150px;
}   
.footer-text { 
    margin-left:20px;
    display: flex;
    align-items: center;
}
.footer-sns {
    display: flex;
    align-items: center;
}

/*****************************************/
/*  jQuery Slick slide show (carousel)   */
/*****************************************/ 
.slick-next:before, .slick-prev:before {
    color: black;
}
.image-responsive {
    width: 100%;
    height: auto;
    display: block;
}
.slick-list {
    margin: 0 -5px;
}
.slick-slide {
    padding: 0 5px;
}
