* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    }

 h1 h2 {
     font-weight: 700;
 }
 h1 {
     font-size: large;
 }
 h2 {
     font-size: medium;
 }
 p {
     font-weight: 400;
 }
 strong {
     font-size: 25px;
     font-weight: 700;
 }

.light-font {
    font-weight: 300;
}
.italic-font {
    font-style: italic;
}
bold-font {
    font-weight: 700;
}
regular-font {
    font-weight: 400;
}

/*****************************************************************/
/* Bootstrap grid container and common portion css classes begin */
/*****************************************************************/
.grid-container {
     max-width: 1400px;
}

/*
.flexitem {
    display: flex;
    align-items: center;
    min-height: 6.25rem;
    padding: 1rem;
}
*/

.my-hero-img {
    width: 100%;
    height: 300px;
}

/***************************************************************/
/* Bootstrap grid container and common portion css classes end */
/***************************************************************/

/****************************************/
/* jQuery accordion usage in index.html */
/****************************************/
.accordion {
    max-width: auto;
    margin: auto;
}
.remainder-text {
    display: none;
}
.accordion.button {
    background: transparent;
    border: none;
}
.accordion.button:hover {
    cursor: pointer;
}

/**********************************************/

/* Footer */
.footer-wrap {
    display: flex;
    flex-direction: row-reverse;
    height: 150px;
    align-items: center;
    padding: 0 1rem;
    background-color: rgba(0, 32, 62, 0.3);
}
.footer-logo {
    height: 150px;
}   
.no-deco {

    text-decoration: none;
}
.footer-listitem {
    margin-left: 1rem;
}
.footer-lastitem {
    margin-right: auto;
}

/**********************************************/
/* Index & YEAR 2021 common css classes begin */
/**********************************************/

.common-wrapper {
    display: flex;
    flex-direction: column;
    border-style: none;
    margin-bottom: 10px;
}
.common-title {
     color: black;
     text-shadow: 3px 3px 3px #cccc;
     text-align: center;
     text-decoration: underline;
     background-color: ivory;
}           
.common-text {
    color: black;
    padding: 0 5px 0 5px;
}
.common-video {
    width: 100%;
    height: 400px;
}
.index-picture-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    
}
.index-picture {
    margin-top: 30px;
    margin-bottom: 30px;


}
.y2021-picture {
    width: 70%;
    margin-left: 10%;
    
}
/********************************************/
/* Index & YEAR 2021 common css classes end */
/********************************************/

/******************************************/
/* Two decades dedicate css classes begin */
/******************************************/
.decade-wrapper {
    display: flex;
    flex-direction: column;
    border-color: green;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;
}
.decade-title {
     color: black;
     text-shadow: 3px 3px 3px #cccc;
     text-align: center;
     text-decoration: underline;
     background-color: ivory;
     order: 1;
}           
.decade-text {
    color: black;
    padding: 0 5px 0 5px;
}
@media screen and (min-width: 320px) {
    .decade-text {
        order: 3;
    }
    .decade-picture-wrapper {
        order: 2;
    }
}
@media screen and (min-width: 550px) {
    .decade-text {
        order: 2;
    }
    .decade-picture-wrapper {
        order: 3;
    }
}

.decade-picture-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    
}
.decade-pictuer-wrapped-item {
     margin-top: 30px;
     margin-bottom: 30px;
     border-radius: 7px;
}
/* Need it to support decade pictures */
.col-sm-4 {
    max-width: 100%;
}

/****************************************/
/* Two decades dedicate css classes end */
/****************************************/

.logo {
    display: flex;
    margin: 10px auto 10px 5px;
    height: 50px;

    position: relative;
}
.header-wrap {
    display: flex;
    height: 70px;
    background-color: #ddd5c7;
}
.sub-down {
    top: 50px;
    left: -135px;
    background-color:lightskyblue;
}
/*******************************************/
/* Header area including dropdown menu end */
/*******************************************/